<mat-accordion *ngIf="messageService.getMessages().length">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Message </mat-panel-title>

      <mat-panel-description>
        {{ messageService.getMessages().length }} record(s)
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>
      <button
        class="message_button"
        mat-raised-button
        color="warn"
        (click)="messageService.clear()"
      >
        Clear messages
      </button>
    </p>
    <mat-list role="list" *ngFor="let message of messageService.getMessages()">
      <mat-list-item role="listitem">{{ message }}</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
