<mat-toolbar color="primary">
  <span routerLink="/heroes" class="title">{{ title }}</span>

  <span fxFlex></span>

  <ng-container *ngIf="isLoggedIn">
    <button
      mat-icon-button
      *ngFor="let item of menuItems"
      aria-label="item.toolTipText"
      [matTooltip]="item.toolTipText"
      [routerLink]="[item.routerLink]"
    >
      <mat-icon>{{ item.icon }}</mat-icon>
    </button>

  </ng-container>

  <a
    mat-button
    matTooltip="Login into app"
    *ngIf="!isLoggedIn"
    routerLink="/login"
    >Login</a
  >

  <div *ngIf="isLoggedIn">
    <button mat-icon-button matTooltip="Menu" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onLogout()">Logout</button>
    </mat-menu>

  </div>

</mat-toolbar>
