  <h1>Dashboard</h1>
  
  <mat-table mat-table [dataSource]="heroes">
    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
  
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.id }}
      </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell  *matCellDef="let row">
        {{ row.name }}
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="['/heroes/', row.id]"
    ></mat-row>
  </mat-table>


